<!DOCTYPE html>
<head>
    <title>form</title>
    <body>
        <form action="/api/students/insertedata" method="POST">
            <!-- <label>Id</label><input type="text" name="id"><br><br> -->
            <label>Nmae</label><input type="text" name="name"><br><br>
            <!-- <label>Email</label><input type="text"><br><br> -->
            <button type="submit">Insert</button>
        </form>
    </body>
</head>
</html>
