<!DOCTYPE html>
<head>
    <title>form</title>
    <body>
        <form action="/api/students/updatedata"  method="POST">
            <label>Id</label><input type="text" name="id" value="<%= id %>" readonly><br><br>
            <label>Name</label><input type="text" name="name" value="<%= name %>"><br><br>
            <!-- <label>Email</label><input type="text"><br><br> -->
            <button type="submit">Update</button>
        </form>
            </tbody>
        </table>
    </body>
</head>
</html>

